:root {
    /* Primary colors */
    --clr-primary-Strong-Cyan: hsl(171, 66%, 44%);
    --clr-primary-Light-Blue: hsl(233, 100%, 69%);

    /* Neutral colors */
    --clr-neutral-Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --clr-neutral-Grayish-Blue: hsl(201, 11%, 66%);

    /* Fonts */
    --ff-Bai-Jamjuree: 'Bai Jamjuree', sans-serif;

    --fw-regular: 400;
    --fw-semiBold: 600;

    --fs-base: 1.125rem;
}

/* CSS reset */

/* 1. Use a more-intuitive box-sizing model. */
*, *::before, *::after {
    box-sizing: border-box;
}
/* 2. Remove default margin */
* {
    margin: 0;
}
/* Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
/* 5. Improve media defaults */
img, svg {
    display: block;
    max-width: 100%;
}
/* 6. Remove built-in form typography styles */
button {
    font: inherit;
}
/* 7. Avoid text overflows */
p, h1, h2, h3 {
    overflow-wrap: break-word;
}
/* 8. Create a root stacking context */
#root, #__next {
    isolation: isolate;
}

/* General styling */

body {
    color: var(--clr-neutral-Dark-Grayish-Blue);
    font-family: var(--ff-Bai-Jamjuree);
    font-size: var(--fs-base);
    min-height: 100vh;
    background-image: url('images/bg-header-mobile.png');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: contain;
}

body > *:not(footer) {
    padding-left: 2rem;
    padding-right: 2rem;
}

header {
    padding-top: 8rem;
}

header img {
    margin: 0 auto;
    margin-bottom: 4rem;
    cursor: pointer;
}

.button {
    color: #fff;
    font-weight: var(--fw-semiBold);
    display: block;
    margin: 0 auto;
    width: 100%;
    padding-block: .6em;
    border: 0;
    border-radius: 3em;
    margin-bottom: 1.5rem;
    -webkit-box-shadow: 0px 0px 30px -2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 30px -2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 30px -2px rgba(34, 60, 80, 0.2);
    cursor: pointer;
}

.btn-green {
    background-color: var(--clr-primary-Strong-Cyan);
    box-shadow: 0 4px hsl(171, 61%, 35%);
}

.btn-green:hover {
    background-color: hsl(171, 61%, 35%);
}

.btn-blue {
    background-color: var(--clr-primary-Light-Blue);
    box-shadow: 0 4px hsl(233, 59%, 40%);
}

.btn-blue:hover {
    background-color: hsl(233, 59%, 40%);
}

.section-1, .section-2 {
    padding-top: 9.5rem;
}

.section-1 img {
    margin: 0 auto;
    margin-block: 4rem;
}

.section-1 aside div {
    margin-bottom: 2rem;
}

.section-2 {
    padding-top: 4rem;
}

.section-2 img {
    margin: 0 auto;
    margin-top: 4rem;
}

.section-3, .companies, .section-4 {
    padding-top: 6rem;
}

.section-3 article div img {
    margin: 0 auto;
    margin-bottom: 1.4rem;
}

.companies img {
    margin: 0 auto;
    margin-bottom: 4rem;
}

.section-4 p {
    margin-bottom: 3rem;
}

.section-4 {
    padding-bottom: 9.5rem;
}

footer {
    background-color: rgba(240, 237, 237, 0.562);
    padding-top: 3rem;
    padding-bottom: 3.5rem;
}

.footer-menu {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 1.8rem;
   margin-block: 3rem;
}

footer img {
    width: 3.5rem;
    margin: 0 auto;
    cursor: pointer;
}

.social-medias {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.social-medias img {
    width: 1.8rem;
}

@media only screen and (min-width: 1000px) {
    body {
        background-image: url("images/bg-header-desktop.png");
    }

    header div, .section-4 div {
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin-top: 3rem;
    }

   .button {
        width: max-content;
        padding-inline: 2em;
        margin: 0;
    }

    header p, .section-1 h2 + p {
        max-width: 55%;
        margin: 0 auto;
    }

    .section-1 {
        padding-left: 0;
        padding-right: 0;
    }

    .section-1 .split {
        display: flex;
        align-items: center;
        gap: 4rem;
        margin-block: 5rem;
    }

    .section-1 .split img {
        margin: 0;
        margin-left: -2rem;
    }

    .split h3, .split p {
        text-align: left;
    }

    .section-2 img {
        margin-top: 6rem;
    }

    .section-3 .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 4.5rem;
    }

    .companies {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        align-items: center;
    }

    .footer-menu {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 0;
    }

    footer img {
        align-self: baseline;
    }

    p {
        text-wrap: balance;
    }
}

/* ------------------------------------------------ */

h1, h2, h3 {
    font-weight: var(--fw-semiBold);
    text-align: center;
    line-height: 1.2;
    margin-bottom: 1rem;
}

p {
    color: var(--clr-neutral-Dark-Grayish-Blue);
    font-weight: var(--fw-regular);
    text-align: center;
    margin-bottom: 2.5rem;
    opacity: .9;
}


a {
    text-decoration: none;
    color: var(--clr-neutral-Dark-Grayish-Blue);
    font-weight: 500;
    cursor: pointer;
}

ul a:hover {
    color: hsl(210, 6%, 13%);
}

ul {
    list-style-type: none;
    padding: 0;
}